body {
   background-color: #F5D9DF;
   font-family: 'Nunito', sans-serif;
}

#mainNavBar {
   font-size: 1.5rem;
   font-weight: 100;
}

#mainNavBar .nav-link {
   color: white;
}

#mainNavBar .nav-link:hover {
   color: #EA1C2C;
}

#mainNavBar .navbar-brand {
   color: #EA1C2C;

}

#headingGroup span {
   color: #EA1C2C;
}

#headingGroup h1 {
   font-weight: 100;
   font-size: 3.2rem;
}

@media (max-width: 1200px) {
   #headingGroup h1 {
      font-weight: 100;
      font-size: 2.2rem;
   }
}

/* #mainNavbar .navbar-brand {

   color: #ea1c2c;
 
   font-size: 1.5rem;
 
 } */